In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.30,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [184]:
from sklearn.svm import SVR
regressor=SVR(kernel="sigmoid",C=1500)
regressor.fit(X_train,y_train)

C:\Users\MANIKA\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=1500, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='sigmoid', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [185]:
SVR()

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [186]:
regressor.intercept_

array([12186.97295561])

In [187]:
regressor.n_support_

array([         0, 1072693248])

In [188]:
regressor.support_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935])

In [189]:
y_predict=regressor.predict(X_test)

In [190]:

y_predict

array([ 8.79984818e+03,  1.15439019e+04,  1.89361285e+04,  3.00233968e+03,
        6.38685787e+03,  1.22640685e+04, -1.39213580e+04, -3.62918091e+03,
        1.10759606e+04,  1.02125501e+03,  1.10187818e+04,  8.44370757e+03,
        1.00397118e+04, -3.33897616e+03,  2.80002728e+04,  4.98312027e+03,
       -2.33009773e+03,  7.12277009e+03,  7.01408735e+03,  2.32717989e+04,
        4.16518610e+04,  3.65030138e+03,  2.06987204e+04,  3.25816032e+04,
        1.23656611e+04,  1.06822080e+04, -1.09933342e+04,  7.88666331e+03,
       -4.16492865e+03,  1.31380699e+04,  1.05569576e+04,  2.16430588e+04,
        1.88878921e+03,  3.09193931e+03,  2.89251562e+04, -3.60031954e+03,
        2.11090437e+04,  4.51290028e+03,  2.68474147e+04, -8.54911062e+03,
       -4.25988591e+03,  1.31177376e+04,  3.19106157e+04,  3.45386734e+04,
        1.36323411e+04,  1.18647565e+04,  5.26881833e+03,  5.99533249e+03,
       -1.46771370e+03,  1.33953269e+04, -4.29018986e+03,  2.00976581e+04,
        3.18688240e+04,  5.76129703e+03,  2.51262399e+04,  9.94375091e+03,
        1.04758861e+04,  9.88831167e+02,  1.43096819e+04,  6.63761863e+03,
        1.78476591e+04,  5.58650718e+04,  3.33864897e+04,  1.82667208e+04,
        2.63236924e+04,  1.38283441e+04,  2.45399735e+04,  3.46424398e+03,
        6.19602199e+03,  1.22179909e+04,  2.60374554e+04,  8.21456542e+03,
        3.18986351e+04,  2.71848816e+04,  2.19095677e+04,  2.49709116e+04,
        4.03020712e+03,  1.26150058e+04,  3.57879807e+04,  2.88060852e+04,
        2.27722457e+04,  1.46345799e+04,  1.35828161e+04,  7.94943430e+03,
        1.61984998e+04,  2.27608823e+04,  1.20646655e+04,  1.26947890e+04,
        8.32218124e+03,  1.21043919e+04,  1.16586258e+04, -1.15819678e+03,
        5.70418184e+03,  8.71550823e+03,  8.06693925e+03,  5.90711004e+03,
        2.53072057e+04,  2.72550138e+04,  1.10516257e+04,  6.03163978e+03,
        1.28881181e+04,  9.07599703e+03,  1.15202525e+04,  1.43481103e+04,
        2.77479916e+04, -9.68965926e+03, -8.44328893e+02,  3.87831681e+02,
        3.69892656e+02,  2.34698725e+04,  7.63201063e+03,  1.69609361e+04,
        1.17802735e+04,  2.08920668e+04,  1.93963343e+04,  6.98450532e+03,
        8.64195780e+03,  9.50824888e+02,  1.47952421e+04,  1.30698295e+04,
        2.05802516e+04,  7.64007400e+03,  2.63664181e+04,  7.02442594e+03,
        9.28159668e+03,  5.11879035e+03,  3.50461516e+04,  3.64786712e+04,
        1.49662987e+04,  1.08806960e+04,  8.63158164e+03,  6.15389083e+03,
        8.17911825e+03,  1.27687084e+03,  2.44075965e+04,  2.21231808e+04,
        3.49746174e+04,  8.33046459e+03,  3.79151897e+04,  7.16957897e+03,
       -9.73044508e+03, -1.22760581e+03,  2.21993859e+04, -3.19867612e+00,
        6.07396137e+03,  2.77247090e+04,  1.38480631e+04,  7.17167580e+03,
        2.27221413e+04,  6.34907133e+03,  6.13904179e+03,  3.46981543e+03,
        1.00994056e+04,  6.76328642e+03,  6.77179969e+03,  8.63575817e+03,
        6.68103481e+03,  6.95764922e+03,  5.01821316e+03,  1.65317910e+03,
       -1.82486312e+03,  4.43186311e+03,  2.36671052e+04,  1.64624899e+04,
       -6.77501479e+03, -7.53780126e+03,  2.73845768e+04,  1.53367841e+04,
        6.54358665e+03, -2.53241691e+03,  2.88118263e+03, -6.17409556e+02,
        8.67937518e+03,  1.07854000e+04, -3.94999172e+03, -6.28278957e+03,
       -2.37448697e+03,  4.49470216e+03,  5.30452383e+04,  2.06555771e+04,
        6.11598276e+03,  7.78418570e+03, -3.15529254e+01,  1.08288027e+04,
       -2.06122114e+02,  3.23667948e+04,  1.38857381e+04, -2.24107779e+03,
        2.84776178e+04,  6.20921043e+03,  2.20910205e+04,  1.08306003e+04,
        4.17736864e+03,  3.49176568e+04,  1.06507704e+04,  1.75540366e+04,
        6.81794289e+03,  1.13229125e+04,  8.48490513e+03,  6.73286710e+03,
        1.42710142e+04,  2.34860680e+04,  4.64948819e+03,  1.35954104e+04,
        2.99484891e+03,  1.79374905e+04, -2.61862512e+03,  1.28837489e+03,
        1.03613362e+04,  1.00898348e+04,  9.68603081e+03,  2.76511570e+04,
        1.68111958e+04, -5.79810299e+03,  6.94320103e+03,  1.88677088e+04,
        3.43350118e+03, -8.93961884e+01,  9.30334204e+02,  3.15699062e+03,
        9.68730063e+03,  1.18501290e+04,  1.57496574e+04, -1.02128763e+04,
        2.56286114e+04,  2.08384061e+03,  1.63979238e+03,  2.15045001e+04,
       -3.10185855e+02,  1.69787519e+04,  1.68411642e+04,  1.56093719e+04,
        2.61402208e+04,  2.73308144e+04,  6.02329393e+02,  1.19355994e+04,
        1.11071245e+04,  2.18341561e+04,  6.56639666e+03,  8.52349420e+03,
        4.27779344e+03, -1.10662318e+04,  8.27853839e+03,  7.14426987e+03,
        1.41737046e+04,  9.57941050e+03, -3.76739649e+03,  1.17329295e+04,
       -1.22056412e+04,  5.14181994e+03,  3.30921226e+04,  1.69803589e+04,
        1.20185428e+04,  1.14891418e+04, -1.29855637e+04,  2.28098667e+04,
        1.03367665e+04, -6.45974035e+03, -1.14509436e+04, -1.77760604e+03,
        5.54528775e+03,  3.31844812e+04,  2.52912944e+04,  4.77569334e+03,
        6.77913062e+03,  5.80104971e+03,  2.12268267e+04,  1.19792311e+04,
        1.39681276e+04,  1.28235708e+04,  2.82746810e+04,  8.42464041e+03,
        1.50180178e+04,  9.46374788e+03,  1.07582263e+04,  7.85284915e+03,
       -2.37312103e+02,  1.65383335e+04,  6.46488382e+03,  1.59663549e+04,
        2.32249230e+04,  8.16747097e+03, -2.37172373e+03, -1.25059906e+04,
        1.18969266e+04, -5.73200506e+03,  5.04741817e+03,  3.59489975e+04,
        1.60719025e+04,  2.11947267e+04, -4.33244116e+03,  1.77293295e+04,
        6.04768521e+03,  6.18523702e+03,  4.15942016e+03,  1.44750899e+04,
        2.04356396e+04,  7.23625017e+03,  7.30363943e+03,  3.35457792e+03,
        1.60249091e+04, -2.57435836e+03,  4.52157639e+04,  2.78419520e+04,
        2.73471065e+04,  1.66706177e+04,  3.13578934e+03,  1.38438762e+04,
        8.16936536e+02,  2.71962216e+04,  1.04906086e+04,  1.00928411e+04,
        2.72603126e+04, -1.15341578e+04,  1.03159642e+04,  8.06755770e+03,
        1.03855929e+04, -4.43151971e+03,  4.97329845e+03,  1.85768290e+04,
        1.24519098e+04,  4.17066939e+03, -1.39004963e+04,  1.85457553e+04,
        2.18948484e+03,  1.88146269e+04,  2.25358423e+04,  2.25315335e+04,
        9.14866286e+03,  1.53559860e+04,  2.99966756e+03,  3.31157294e+03,
        8.55344087e+03, -7.72326774e+02,  3.62099927e+04,  4.66562460e+03,
        2.03871911e+04,  8.37604462e+03,  2.60867403e+04, -1.00225984e+04,
        4.87485199e+04,  1.71614478e+04,  1.87554677e+04,  1.49624596e+04,
        1.57983510e+04,  1.02479859e+03,  1.78135291e+04,  1.62084485e+04,
        1.13627129e+04, -4.17085788e+03, -2.83215497e+03, -4.22212599e+03,
        1.74595647e+04,  4.01720015e+02,  1.90287995e+04,  9.63876850e+03,
        3.04989633e+04,  7.65235869e+02,  6.64595223e+03,  1.35031381e+04,
        1.86571941e+04, -8.49358010e+03,  1.10006081e+04,  1.33342113e+04,
        3.40715590e+04, -1.39569416e+03, -1.36358839e+04, -2.12264202e+03,
       -5.15869953e+03,  1.57503704e+04,  6.80112999e+03,  1.05555220e+04,
        6.84450827e+03,  9.19413616e+03, -2.70882872e+03, -1.44183624e+04,
        8.92310370e+03,  1.09499100e+04,  2.90735283e+04, -1.66091933e+03,
        8.43861790e+03,  2.02434895e+04, -1.16242026e+04,  6.70644484e+03,
        6.36166657e+03, -1.13365000e+04,  1.37152809e+04,  1.20055750e+04,
        5.31586693e+03,  1.06246286e+04, -9.72014318e+03,  1.22868817e+03,
        1.46615575e+04,  1.47158164e+04, -4.78949794e+03,  1.43183284e+04,
        5.25864988e+03,  9.44218880e+03, -2.98493832e+03,  4.06801383e+03,
        1.63346691e+04,  2.43825375e+04])

In [191]:
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_predict)

In [192]:
r_score

-0.06744112500716404